<h2>Nouvelle inscription sur <%= link_to "Bienvenue.art", "http://bienvenue.art" %></h2>

<div>
  <p>L'inscription concerne :</p>
  <p><%= @title %> <strong><%= @first_name %> <%= @last_name %></strong></p>
  <p>Email: <strong><%= @email %></strong></p>
  <p>Inscrit en tant que <strong><%= @status %></strong></p>
  <p>Pour <strong><%= @category %></strong></p>
</div>

<% console %>