<div class="comp_mode exhibitors_top">
  <%= link_to "< BACK", "javascript:history.back()" %>
  <h1 class="registration_title"> BIENVENUE ART FAIR EXHIBITORS </h1>
  <div class="invisible_div"></div>
</div>
<div class="tel_mode">
  <%= render "shared/navbar" %>
  <div class="stick">
    <h1 class="exhibitors_title size"> BIENVENUE ART FAIR EXHIBITORS </h1>
  </div>
</div>
<% if @art_fair_exhibitors.empty? %>
  <div class="middle_coming">
    <p class="come">COMING SOON</p>
  </div>
<% else %>
  <% @art_fair_exhibitors.each do |a_exhib| %>
    <div>
      <div class="artist_name">
        <%= simple_format(a_exhib.artist_name) %>
      </div>
      <div class="flex_middle">
        <div class="pics">
          <% a_exhib.photos.each do |photo| %>
            <div class="pics_divs" style="background-image: url(<%= cl_image_path(photo.key) %>)">
            </div>
          <% end %>
        </div>
      </div>
      <div class="text">
        <%= simple_format(d_exhib.description) %>
        <%= link_to a_exhib.url, "http://#{a_exhib.url}" %>
      </div>
    </div>
  <% end %>
<% end %>
