<div class="comp_mode exhibitors_top">
  <%= link_to "< BACK", "javascript:history.back()",class:"color-w underlin hover" %>
  <h1 class="registration_title"> BIENVENUE ART FAIR EXHIBITORS </h1>
  <div class="invisible_div"></div>
</div>
<div class="tel_mode">
  <%= render "shared/navbar" %>
</div>
<% if @art_fair_exhibitors.empty? %>
  <div class="middle_coming">
    <p class="come">COMING SOON</p>
  </div>
<% else %>
  <%  @art_fair_exhibitors.sort_by { |h| h[:artist_name] }  %>
  <% @art_fair_exhibitors.each do |a_exhib| %>
      <div class="artist_name">
        <%= simple_format(a_exhib.artist_name, class: ("artist-1" if a_exhib == @art_fair_exhibitors.first)) %>
      </div>
      <% if a_exhib.photo.attached? %>
        <div class="exhibitor-image">
          <%= cl_image_tag a_exhib.photo.key, width: 800, crop: :fill %>
        </div>
      <% end %>
      <div class="text">
        <% if params[:locale] == "en" || params[:locale].nil? %>
          <%= simple_format(a_exhib.description_en) %>
        <% else %>
          <%= simple_format(a_exhib.description_fr) %>
        <% end %>
        <%= link_to a_exhib.url, "http://#{a_exhib.url}" %>
      </div>
  <% end %>
<% end %>
