  <div class="comp_mode exhibitors_top">
    <%= link_to "< BACK", "javascript:history.back()" %>
    <h1 class="registration_title"> BIENVENUE DESIGN EXHIBITORS </h1>
    <div class="invisible_div"></div>
  </div>
  <div class="tel_mode">
    <%= render "shared/navbar" %>
  </div>
<% if @design_exhibitors.empty? %>
  <div class="middle_coming">
    <p class="come">COMING SOON</p>
  </div>
<% else %>
  <% artist_nb = 1 %>
  <% @design_exhibitors.each do |d_exhib| %>
    <div class="all_exhibitors">
      <div class="artist_name">
        <%= simple_format(d_exhib.artist_name, class: "artist-#{artist_nb}") %>
      </div>
      <% artist_nb += 1 %>
      <% if   d_exhib.photo.url.present?  %>
      <div class="flex_middle">
        <div class="pics">
          <% d_exhib.photos.each do |photo| %>
            <div class="pics_divs" style="background-image: url(<%= cl_image_path(photo.key) %>)">
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <div class="text">
        <% if params[:locale] == "en" || params[:locale].nil? %>
          <%= d_exhib.description_en.nil? ? simple_format(d_exhib.description_fr) : simple_format(d_exhib.description_en) %>
        <% else %>
          <%= d_exhib.description_fr.nil? ? simple_format(d_exhib.description_en) : simple_format(d_exhib.description_fr) %>
        <% end %>
        <%= link_to d_exhib.url, "http://#{d_exhib.url}" %>
      </div>
    </div>
  <% end %>
<% end %>
