<div class="registration_top">
  <%= link_to "< BACK", "javascript:history.back()" %>
  <h1 class="registration_title"> BIENVENUE DESIGN EXHIBITORS </h1>
  <div class="invisible_div"></div>
</div>
<% @design_exhibitors.each do |d_exhib| %>
  <div>
    <p><%= simple_format(d_exhib.artist_name) %></p>
    <% d_exhib.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p><%= simple_format(d_exhib.description) %></p>
    <p><%= link_to d_exhib.url, "http://#{d_exhib.url}" %></p>
    <p>Artist name : <%= simple_format(d_exhib.artist_name) %></p>
  </div>
<% end %>
