<div class="registration_top">
  <%= link_to "< BACK", "javascript:history.back()" %>
  <h1 class="registration_title"> BIENVENUE DESIGN EXHIBITORS </h1>
  <div class="invisible_div"></div>
</div>
<% @design_exhibitors.each do |d_exhib| %>
  <div>
    <div class="artist_name">
      <%= simple_format(d_exhib.artist_name) %>
    </div>
    <div class="pics">
      <% d_exhib.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="text">
      <%= simple_format(d_exhib.description) %>
      <%= link_to d_exhib.url, "http://#{d_exhib.url}" %>
    </div>
  </div>
<% end %>
